body{
background-color: sandybrown;


}
h1{
    font-family:impact;
    font-size:x-large;
}
p{
font-family:cursive;
font-size: medium;

}
ol{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
a{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
